<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre réservation est confirmée</h1>
    <p>
      Un problème ? <a href="<%= @cancel_url %>">Annuler la réservation</a>
    </p>
  </body>
</html>
